.theme-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-button.light {
  background-color: #f8f9fa;
  color: #000;
}

.theme-button.light:hover {
  background-color: #e2e6ea;
}

.theme-button.dark {
  background-color: #444;
  color: #fff;
}

.theme-button.dark:hover {
  background-color: #555;
}

.theme-button i {
  margin-right: 8px;
}
